body {
    background-color: #f8f9fa;
}

.header {
    background-color: rgb(32, 42, 68);
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.header img:first-child {
    margin-right: auto;
}

.header img:last-child {
    margin-left: auto;
    height: 103px;
}

.navbar {
    background-color: #343a40;
    padding: 1rem 0;
}

.navbar-brand img {
    margin-right: 10px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 20px;
}

.form-group label {
    font-weight: bold;
}

.slider {
    margin-top: 10px;
}

.slider-value {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px; /* Adjust as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.subscript {
    display: block;
    font-size: 0.6em;
    margin-top: -0.1em;
    margin-left: 374px;
}